.filter-btns .btn {
    @include border-radius(4px);
}

.filter-btns {
    .btn {
        border-left: 0;
        border-right: 0;
    }
    .btn[data-filter="*"] {
        border-left: 1px solid #adadad
    }
    .btn[data-filter=".cross"] {
        border-right: 1px solid #adadad
    }
    .btn[data-filter="*"] {
        @include gridbutton(#555);
    }
    .btn[data-filter=".literacy"] {
        @include gridbutton($literacy);
    }
    .btn[data-filter=".community"] {
        @include gridbutton($community);
    }
    .btn[data-filter=".childhood"] {
        @include gridbutton($childhood);
    }
    .btn[data-filter=".economy"] {
        @include gridbutton($economy);
    }
    .btn[data-filter=".education"] {
        @include gridbutton($education);
    }
    .btn[data-filter=".health"] {
        @include gridbutton($health);
    }
    .btn[data-filter=".housing"] {
        @include gridbutton($housing);
    }
    .btn[data-filter=".workforce"] {
        @include gridbutton($workforce);
    }
    .btn[data-filter=".cross"] {
        @include gridbutton($cross);
    }
    .btn.active {
        background-color: #d4d4d4 !important;
        color: $black !important;
    }
}

.positive {
    color: $positive;
}

.negative {
    color: $negative;
}

.neutral {
    color: $neutral;
}

.grid {
    margin: 12px auto;

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.grid-sizer {
    // width: 280px;
}

.grid-item {
    float: left;
    min-height: 320px;
    padding: 10px 14px;
    background: #888;
    color: #333;
    cursor: pointer;
    border-right: 5px solid #f2f2f2;
    margin-bottom: 5px;

    & > * {
        margin: 0;
        padding: 0;
    }

    .name {
        font-size: 1.1em;
        padding: 0;
        color: #ffffff;
        line-height: 2;
        margin-top: 0;
        font-weight: 400;
    }

    .expand-grid {
        .show-more {
            position: relative;
            top: -1px;
        }
    }

    .current-val {
        font-size: 2.8em;
        font-weight: 600;
        color: #fff;
        margin-top: 2px;
    }

    .current-year {
        font-size: 50%;
        color: #444;
    }

    .prev-val {
        font-size: 2.2em;
        font-weight: 600;
        color: #eaeaea;
        margin: 2px;
    }

    .prev-year {
        font-size: 60%;
        color: #444;
    }

    .descript {
        position: absolute;
        bottom: 30px;
        font-size: 1.25em;
        width: 90%;
        color: #333;
        margin-bottom: 6px;
    }

    .area {
        position: absolute;
        color: #eee;
        bottom: 10px;
    }

    .trend {
        font-size: 3em;
        padding: 0;
        margin: 10px auto;
    }

    p.descript-text {
        visibility: hidden;
    }

    .icon {
        fill: currentColor;
        width: 1em;
        height: 1em;
        overflow: hidden;
    }
}

.big {

    height: 320px;

    p.descript-text {
        visibility: visible;
    }

    @include breakpoint($phone) {
        .current-val {
            font-size: 3.5em;
        }

        .prev-val {
            font-size: 2.6em;
        }

        .trend {
            font-size: 5em;
        }
    }

    @include breakpoint($tablet) {
        .current-val {
            font-size: 5em;
        }

        .prev-val {
            font-size: 3em;
        }

        .trend {
            font-size: 9em;
        }
    }

    @include breakpoint($laptop) {
        width: 66.67%;
    }

    @include breakpoint($lg-laptop) {
        width: 50%;
    }

    @include transition(font-size 400ms);

    .icon {
        height: 0.5em;
        width: 0.5em;
    }
}



.workforce {
    @include gridcolors($workforce);
}

.childhood {
    @include gridcolors($childhood);
}

.health {
    @include gridcolors($health);
}

.housing {
    @include gridcolors($housing);
}

.literacy {
    @include gridcolors($literacy);
}

.education {
    @include gridcolors($education);
}

.community {
    @include gridcolors($community);
}

.economy {
    @include gridcolors($economy);
}

.cross {
    @include gridcolors($cross);
}
